@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />






<div >
    <Button Type="@ButtonType.Primary">Primary</Button>
    <Button>Default</Button>
    <Button Type="@ButtonType.Dashed">Dashed</Button>
    <Button Type="@ButtonType.Text">Text</Button>
    <Button Type="@ButtonType.Link">Link</Button>
</div>

